.textAgregar{
    cursor: pointer;
}

.contenedorTituloImagenes{
    text-align: center;
}

.contenedorTituloImagenes div{
    border: 1px solid rgb(56, 56, 56);
    display: inline-block;
    margin: 2px;
    display: inline-flex;
    align-items: center;
}

.contenedorTituloImagenes img{
    object-fit: contain;
    width: 165px;
    height: 132px;
}



.contenedirImagenEditar{
    border: 1px solid rgb(56, 56, 56);
    margin: 2px;
    display: inline-flex;
    align-items: center;
}

.imagenEditar{
    width: 165px;
    height: 132px;
    object-fit: contain;
}

.displayNone{
    position: absolute;
    border: 0px solid white;
    display: none;
    margin: 0px;
    align-items: center;
}

.textAreaCreate{
    font-size: 17px;
    border: 0px;
    border-bottom: 1px solid black;
}

.botonEliminarImagen{
    color: white;
    background-color: brown;
    border: 1px solid rgb(110, 24, 24);
    padding: 5px 8px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.botonEliminarImagen:hover{
    background-color: rgb(231, 38, 38);
}