.contenedorPedidos{
    margin: 20px;
}

.subContenedorPedidos{
    background-color: #242F3E;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px 20px;
    color: white;
}

.textoNombreT{
    padding-left: 10px;
    font-size: 15px;
}

.imagenProductoDe{
    width: 100px;
    object-fit: cover;
    margin: 10px;
}

.textoNombreP{
    font-size: 14px;
    padding-top: 5px;
}

.carritoTextoCompra{
    height: 47px;
    overflow: hidden;
}