.Contenedor-principal-usuario{
    text-align: center;
    color: rgb(78, 78, 78);
}

.contenedor-boton-logout{
    width: 100%;
    text-align: right;
}

.botonLogout{
    position: relative;
    border: none;
    background-color: white;
    cursor: pointer;
    top: 35px;
    right: 20px;
}



.Contenedor-usuario{
    border-radius: 10px;
    margin: 20px;
    display: inline-flex;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #adadad;
}

.imagen-usuario{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
    border: 3px solid rgb(78, 78, 78);

}

.contenedor{
    width: 100%;
    margin-top: 20px;
}

.h1-usuario{
    margin-top: 10px;
}

.contenedor-cuenta{
    margin-top: -15px;
}